[user]
	name = Sean McLoughlin
	email = smcloughlin@tenstorrent.com
[init]
	defaultBranch = main
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[alias]
    cane = commit --amend --no-edit
    hs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    c = commit
    p = pull
    a = add
    s = status
    st = status
    l = log
    wt = worktree
    fstatus = status --porcelain --branch --untracked-files=no
    cane = commit --amend --no-edit
    co = checkout
    rel = describe --tags --abrev=0
    lsalias = config --get-regexp ^alias
    tags = for-each-ref --sort=creatordate --format '%(refname) %(creatordate)' refs/tags

