# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sean McLoughlin
	email = smclough@protonmail.com
[init]
	defaultBranch = main
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
